.active{
    font-weight: bold;
}

.contact-title{
    position:fixed;
    top:30px;
    right:5px;
}
.contact-list{
    margin-left: 10px;
    overflow: auto;
    height: 100%;
    overflow-y:auto;
}

.contact-input{
    width: 100%;
}

body{
    margin: 10px;
}